.equipment h5,
p {
  margin-top: 0px;
  margin-bottom: 0px;
  display: flex;
}

.see {
  opacity: 30%;
  font-size: 0.75em;
}

.equipment .box-1:not(.title) {
  border: 1px solid rgb(255, 255, 255);
  border-radius: 10px;
  margin: 10px 0px;
  padding: 0px 5px;
}

.row-1 {
  flex-direction: row;
  width: 100%;
  display: flex;
  margin-bottom: 16px;
}

.column-1 {
  display: flex;
  width: 15%;
  text-align: start;
}

.column-2 {
  display: flex;
  width: 85%;
  text-align: start;
  justify-content: flex-end;
}

.equipment ul {
  flex-direction: row;
  justify-content: space-around;
  margin-bottom: 10px;
}

.equipment li {
  display: flex;
  text-align: center;
  padding-left: 4px;
  padding-right: 4px;
}
