.safety h2 {
  color: red;
}

.safety h2 {
  margin-top: 0%;
}

.safety h3 {
  display: flex;
  margin-bottom: 10px;
  font-size: 26px;
  color: blue;
  margin-top: 10px;
}

.safety p {
  color: rgb(0, 204, 255);
}

.row {
  display: flex;
}

.safety .block-2 {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.safety [class^="box-"] {
  display: flex;
  align-items: top;
  border: 4px solid black;
  border-radius: 10px;
  margin: 5px 5px;
}
