#soloing,
#bouldering,
#lead,
#top-rope,
#trad {
  margin-top: 5px;
  margin-bottom: 5px;
  border: 4px solid rgb(0, 0, 0);
  border-radius: 10px;
}

img {
  max-width: 200px;
  max-height: auto;
  display: flex;
  padding-left: 2px;
  padding-right: 2px;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 10px;
}

img:hover {
  max-width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  transition: all 0.3s ease-out;
}

.group-a,
.group-b {
  flex-direction: row;
}

.box-a,
.box-b {
  font-size: 20px;
  padding: 16px;
  margin: 0 auto;
}

@media (max-width: 576px) {
  [class^="box-"] {
    flex-direction: column;
    font-size: 14px;
    max-width: 100%;
  }

  img {
    display: 50%;
  }
}
