[class^="block-"] {
  display: flex;
  gap: 2vh;
  justify-content: center;
  text-align: center;
  flex-direction: column;
}

[class^="box-"] {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 100%;
  flex-direction: column;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

@media (max-width: 576px) {
  .block-2 {
    flex-direction: column;
    height: 60vh;
  }

  .box-3 {
    flex: 80%;
  }
  .box-4 {
    height: 20vh;
  }
}
