:root {
  background-color: black;
  color: white;
}

[class^="block-"] {
  display: flex;
  max-width: 800px;
  margin: 0 auto;
  justify-content: center;
  text-align: center;
  flex-direction: column;
}

[class^="box-"] {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 100%;
  flex-direction: column;
}

a {
  text-decoration: none;
  color: white;
  margin-top: 0px;
  margin-bottom: 0px;
}

.types.block-1,
#safety,
#equipment {
  opacity: 50%;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

@media (max-width: 576px) {
  [class^="block-"] {
    flex-direction: column;
    max-width: 576px;
  }

  [class^="box-"] {
    flex: 80%;
  }
}
