[class^="block-"] {
  display: flex;
  max-width: 800px;
  margin: 0 auto;
  justify-content: center;
  text-align: center;
  flex-direction: column;
}

[class^="box-"] {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 100%;
  flex-direction: column;
}

a {
  text-decoration: none;
  margin-top: 0px;
  margin-bottom: 0px;
  color: black;
}

h1 {
  margin-bottom: 4px;
  font-size: 40px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

hr {
  color: black;
  margin-top: 5px;
}

.back-to-top {
  display: flex;
  justify-content: center;
  color: black;
  opacity: 75%;
  margin-bottom: 15px;
}

.types.block-1,
#safety,
#equipment {
  opacity: 50%;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

@media (max-width: 576px) {
  [class^="block-"] {
    flex-direction: column;
    max-width: 576px;
  }

  [class^="box-"] {
    flex: 80%;
  }
}
